In [ ]:
#classes and object

In [40]:
class Employees:
    def __init__(self, name, gender, age, qualification):
        self.name = name
        self.gender = gender
        self.age = age
        self.qualification = qualification
        
    def introduce_self(self):
        print("Hello, my name is"+ self.name, self.gender + ". I am" + str(self.age) + "years old and a" 
              + self.qualification + ".Thank you.")

In [41]:
e1 = Employees("Tem","Male",33,"Software engineer")
e2 = Employees("Vic","Female",25,"Data analyst")
e3 = Employees("Bayo","Male",22,"Frontend engineer")
e4 = Employees("Subomi","Male",30,"Fullstack engineer")

In [42]:
e1.introduce_self()
e2.introduce_self()
e3.introduce_self()
e4.introduce_self()

Hello, my name isTem Male. I am33years old and aSoftware engineer.Thank you.
Hello, my name isVic Female. I am25years old and aData analyst.Thank you.
Hello, my name isBayo Male. I am22years old and aFrontend engineer.Thank you.
Hello, my name isSubomi Male. I am30years old and aFullstack engineer.Thank you.

In [43]:
m = "marital_status"
b = "blood_group"
e = "education_status"

class Details:
    def __init__(self, m, b, e):
        self.marital_status = m 
        self.blood_group = b 
        self.education_status = e
        
    def graduate(self):
        self.graduate = True
    
    def undergraduate(self):
        self.graduate = False

In [44]:
d1 = Details("Single", "AA", True)
d2 = Details("Married", "AS", True)
d3 = Details("Single", "AS", True)
d4 = Details("Divorce", "AA", False)

d1.employees_dt = e2
d2.employees_dt = e1
d3.employees_dt = e4
d4.employees_dt = e3

In [45]:
d1.employees_dt.introduce_self()

Hello, my name isVic Female. I am25years old and aData analyst.Thank you.