# List

In [13]:
courses = [401,407,412,403,499]
max(courses)

499

In [2]:
# To add to a list, a list can contain any set of datatype
courses.append("firstclass")
courses

[401, 407, 412, 403, 499, 'firstclass']

In [3]:
# To delete, the last number in a list
courses.pop(1)
courses

[401, 412, 403, 499, 'firstclass']

In [8]:
# To select, slice
courses[3]

499

In [5]:
courses[:-2]

[401, 412, 403]

In [9]:
# To replace
courses[1]=405
courses

[401, 405, 403, 499, 'firstclass']

In [2]:
# Swapping two value/element within a list
learning = ["youtube", "datacamp", "cousera", "udemy"]
learning

['youtube', 'datacamp', 'cousera', 'udemy']

In [3]:
studies = learning[0]
learning[0] = learning[-1]
learning[-1] = studies

print(learning)

['udemy', 'datacamp', 'cousera', 'youtube']

In [4]:
learning[0], learning[-1] = learning[-1], learning[0]
learning

['youtube', 'datacamp', 'cousera', 'udemy']

# List comprehension:

In [14]:
# Not list comprehension
numbers = []
for w in range(5, 20):
    numbers.append(w ** 2)
print(numbers)

[25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [16]:
number = [w ** 2 for w in range(5, 20)]
print(number)

[25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [17]:
list_num = [2, 4, 6, 8, 10]
new_num = [q ** 4 for q in list_num]
print(new_num)

[16, 256, 1296, 4096, 10000]

In [20]:
num = [x**2 for x in range(6, 0, -1)]
print(num)

[36, 25, 16, 9, 4, 1]

In [21]:
#using list comprehension to compute cartesian product
# eg: a=[1,2], b=[x,y]
#      [1,x][1,y]
#      [2,x][2,y]

a = [1, 2, 4, 6]
b = [6, 12, 18, 24]

cartesian_product = [(x, y) for x in a for y in b ]
print(cartesian_product)

[(1, 6), (1, 12), (1, 18), (1, 24), (2, 6), (2, 12), (2, 18), (2, 24), (4, 6), (4, 12), (4, 18), (4, 24), (6, 6), (6, 12), (6, 18), (6, 24)]

In [22]:
[num ** 2/3 for num in range(1,10)]

[0.3333333333333333,
 1.3333333333333333,
 3.0,
 5.333333333333333,
 8.333333333333334,
 12.0,
 16.333333333333332,
 21.333333333333332,
 27.0]

### Set
it is use to iterate over every element in a set

A set does not store data in order in which it is store

In [ ]:
a =set()
a

In [ ]:
a.add(2)
a.add(5)
a.add("garlic")
a

for x in a:
    print(x)

When to use a set: when you want to remove a duplicate from a list

In [11]:
given_list=[3,3,5,11,11,4]
new_list=set()

for x in given_list:
    new_list.add(x)
#(to sum the numbers)
# total = 0
# for x in new_list:
#     total += x 
    
print(new_list)

{11, 3, 4, 5}

Resetting the set back to a list

In [7]:
new_list1=[]
for x in new_list:
    new_list1.append(x)
print(new_list1)

[11, 3, 4, 5]

Tuples are immutable, it cannot be changed,() is used to denote a tuple