### List

In [ ]:
courses = [401,407,412,403,499]
max(courses)

In [ ]:
numbers = []
for w in range(5,50):
    numbers.append(w **2)
print(numbers)

To add to a list,a list can contain any set of datatype

In [ ]:
courses.append("firstclass")
courses

To delete,the last number in a list

In [ ]:
courses.pop()
courses

To select,slice

In [ ]:
courses[3]

In [ ]:
courses[:-2]

To replace

In [ ]:
courses[1]=405
courses

Swapping 2 value/element within a list

In [ ]:
learning=["youtube", "datacamp", "cousera", "udemy"]
learning

In [ ]:
studies =learning[0]
learning[0]=learning[-1]
learning[-1]=studies

print(learning)

In [ ]:
learning[0],learning[-1]=learning[-1],learning[0]
learning

List comprehension:store a list in one line of code

In [ ]:
multiple_no = [(i*2) for i in range(4,16)]
print(multiple_no)

In [ ]:
list_no = [2,4,6,8,10]
new_no = [(q**4)for q in list_no]
print(new_no)

In [ ]:
#using list comprehension to compute cartesian product
# eg:a=[1,2], b=[x,y]
#      [1,x][1,y]
#      [2,x][2,y]

A = [1,2,4,6]
B = [6,12,18,24]

cartesian_product = [(a,b) for a in A for b in B ]
print(cartesian_product)

Set
it is use to iterate over every element in a set
a set does not store data in order in which it is store

In [ ]:
a =set()
a

In [ ]:
a.add(2)
a.add(5)
a.add("garlic")
a

for x in a:
    print(x)

When to use a set: when you want to remove a duplicate from a list

In [ ]:
given_list=[3,3,5,11,11,4]

In [ ]:
new_list=set()

for x in given_list:
    new_list.add(x)
#(to sum the numbers)
# total = 0
# for x in new_list:
#     total += x 
    
print(new_list)

Resetting the set back to a list

In [ ]:
new_list1=[]
for x in new_list:
    new_list1.append(x)
print(new_list1)

Tuples are immutable, it cannot be changed,() is used to denote a tuple